.container {
  /* Theme: transparent */
  background-color: transparent;
  border: none;
  box-shadow: none;

  /* Fix for loading indicator making the container super big */
  width: fit-content;
  height: fit-content;

  padding: 0;
  display: flex;
  flex-direction: row;

  & > * {
    pointer-events: initial;
  }

  & .graphic {
    cursor: grab;

    .is-being-grabbed & {
      cursor: grabbing;
    }
  }

  & .info {
    min-width: 8ch;
    margin-block: 0.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow:
      0px 1px 2px black,
      0px -1px 2px black,
      1px 0px 2px black,
      -1px 0px 2px black;
    text-align: right;

    & :is(p, h1, h2, h3, h4, h5, h6) {
      margin: 0;
    }
  }

  & .error {
    color: #ff4141;
  }

  &.is-info-on-the-right {
    flex-direction: row-reverse;

    & .info {
      text-align: left;
    }
  }
}
